@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #12213d;
}

.font-sans {
  font-family: "Inter", system-ui, sans-serif;
}
.font-display {
  font-family: "Space Grotesk", system-ui, sans-serif;
}
.font-mono {
  font-family: "JetBrains Mono", ui-monospace, monospace;
}
